<footer class="footer" id="#copyright">
	<div id="#copyright">
		<small>
    	<p>&copy; Project Man 2013</p>
    	
	</small>
	<nav>
		<ul>
			<li>
				<p>
					Designed by
					<a href="https://www.facebook.com/gkitili">AA Softwares</a href="#"> </a> 
				</p>
			</li>
			
		</ul>
	</nav>
	</div>
</footer>