<div class="span2">
	<p></p>
</div>
<div class="span8">
	<h1 class="pageheader">Editing shop</h1>

	<%= render 'form' %>
	
	<%= link_to 'Show', @shop %> |
	<%= link_to 'Back', shops_path %>
</div>
<div class="span2">
	<p></p>
</div>
