<div class="span2">
	<p></p>	
</div>
<div class="span8">
	<h1 class="pageheader">Editing project</h1>

	<%= render 'form' %>
	
	<%= link_to 'Show', @project %> |
	<%= link_to 'Back', projects_path %>
</div>
<div class="span2">
	<p></p>
</div>
