<div class="span2">
	<p></p>
</div>
<div class="span8">
	<h1 class="pageheader">Edit Company Info</h1>

	<%= render 'form' %>
	
	<%= link_to 'Show', @company %> |
	<%= link_to 'Back', companies_path %>
</div>
<div class="span2">
	<p></p>
</div>
