<div class="span2">
	<p></p>
</div>
<div class="span8">
	<h1>Editing review</h1>

	<%= form_for  @review, :html => { :class => :form } do |f| -%>
	  <%= render :partial => "form", :locals => {:f => f} %>
	<% end -%>
	
	<%= link_to 'Show', @review %> |
	<%= link_to 'Back', reviews_path %>
</div>
<div class="span2">
	<p></p>
</div>
